.card {
  width: 100%;
  padding-top: 10%;
  background-color: $white;
}

.card__contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 7%;
}

.card__tagline {
  display: block;
  width: 46%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
}

.card__adress {
  display: block;
  width: 46%;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
}

.card__wrap {
  width: 100%;
  min-height: 360px;
  background-image: url("../img/bg/bg-map-mobile@1x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media #{$tablet} {
  .card__contacts {
    justify-content: space-between;
  }

  .card__tagline {
    width: 30%;
    font-size: 20px;
    line-height: 25px;
  }

  .card__adress {
    width: 30%;
    font-size: 16px;
    text-align: end;
  }

  .card__adress-town {
    line-height: 55px;
  }
}

@media #{$desktop} {
  .card {
    position: relative;
    padding-top: 0;
  }

  .card__contacts {
    position: absolute;
    top: 105px;
    left: 88px;
    justify-content: space-around;
    min-width: 570px;
    min-height: 210px;

    @include zeroing;
    background-color: $white;
  }

  .card__wrap {
    min-height: 410px;
  }
}
