.card {
  width: 100%;
  padding-top: 4%;
  background-color: $white;
}

.card__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 3%;
}

.card__tagline {
  display: block;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
}

.card__adress {
  display: block;
  width: 50%;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.card__wrap {
  width: 100%;
  min-height: 365px;
  background-image: url("../img/map-pin.png"), url("../img/bg/bg-map-mobile@1x.png");
  background-position: center 45%, bottom;
  background-repeat: no-repeat;
  background-size: 60px auto, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-pin.png"), url("../img/bg/bg-map-mobile@2x.png");
    background-size: 60px auto, cover;
  }
}

.card__wrap iframe {
  width: 100%;
  min-height: 365px;
}

@media #{$tablet} {
  .card {
    padding-top: 6%;
    background-color: $lightblue;
  }

  .card__contacts {
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9.2%;
    margin-bottom: 5.5%;
  }

  .card__tagline {
    width: 30%;
    font-size: 20px;
    line-height: 25px;
  }

  .card__adress {
    width: 170px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: end;
  }

  .card__adress-town {
    line-height: 60px;
  }

  .card__wrap {
    min-height: 390px;
    background-image: url("../img/map-pin.png"), url("../img/bg/bg-map-tablet@1x.png");
    background-size: 110px auto, cover;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg/bg-map-tablet@2x.png");
      background-size: 110px auto, cover;
    }
  }

  .card__wrap iframe {
    min-height: 390px;
  }
}

@media #{$desktop} {
  .card {
    position: relative;
    padding-top: 0;
  }

  .card__contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    justify-content: space-around;
    min-width: 570px;
    min-height: 200px;

    @include zeroing;
    padding-left: 1.8%;
    padding-right: 1.6%;
    padding-top: 55px;
    background-color: $white;
  }

  .card__adress {
    text-align: start;
  }

  .card__wrap {
    min-height: 400px;
    background-image: url("../img/map-pin.png"), url("../img/bg/bg-map-desktop@1x.png");
    background-position: 75.5% center;
    background-size: 110px auto, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg/bg-map-desktop@2x.png");
      background-size: 110px auto, cover;
    }
  }

  .card__wrap iframe {
    min-height: 400px;
  }
}
