.catalog {
  width: 100%;
  padding-top: 4.2%;
  background-color: $white;
  border-bottom: 2px solid #e6e6e6;
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;

  @include zeroing;
  margin-left: 6%;
  margin-bottom: 8.5%;
  font-weight: 400;
  color: $black;
}

.catalog__list {
  @include list;
}

@media #{$tablet} {
  .catalog {
    padding-top: 3.3%;
    border: none;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-left: 3.8%;
    margin-bottom: 7.2%;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media #{$desktop} {
  .catalog {
    padding-top: 1.34%;
  }

  .catalog__title {
    margin-left: 7.6%;
    margin-bottom: 3.8%;
  }

  .catalog__list {
    padding-left: 4.9%;
    padding-right: 4.77%;
  }
}
