.catalog {
  width: 100%;
  padding-top: 7%;
  background-color: $white;
  border-bottom: 2px solid #e6e6e6;
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;

  @include zeroing;
  margin-left: 6.5%;
  margin-bottom: 6%;
  font-weight: 400;
  color: $black;
}

.catalog__list {
  @include list;
}

.catalog__item {
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 7%;
  border-top: 2px solid #e6e6e6;

  &--last {
    text-align: center;

    .catalog__item-title {
      width: 100%;
    }

    &::before {
      display: block;
      content: "";
      min-width: 32px;
      min-height: 32px;
      margin-bottom: 8%;
      background-image: url("../img/icons/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.catalog__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
}

.catalog__link {
  display: block;

  @include link;
}

.catalog__cover {
  width: 50%;
  margin-bottom: 5%;
}

.catalog__item-title {
  display: block;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__title-link {
  @include link;
  color: $black;
}

.catalog__description {
  width: 100%;
}

.catalog__description tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.catalog__link-button {
  @include link;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 8%;

  &--all {
    color: $black;
    background-color: $lightblue;
  }
}

.catalog__text {
  margin-bottom: 8%;
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

@media #{$tablet} {
  .catalog {
    border: none;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-left: 5%;
    margin-bottom: 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catalog__item {
    width: 43.5%;
    margin-top: 10%;
    padding-top: 0;
    border: none;
    background-image: linear-gradient($white 17%, #eaeaea 17%);

    &--last {
      padding-top: 7%;
      background: transparent;
      border: 2px solid #e6e6e6;

      .catalog__item-title {
        width: 140px;
        margin-bottom: 15%;
      }

      &::before {
        min-width: 60px;
        min-height: 60px;
        margin-bottom: 15%;
      }

      .catalog__text {
        width: 150px;
        margin: 0 auto;
        margin-bottom: 22%;
      }
    }
  }

  .catalog__wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .catalog__item-title {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 10%;
    text-align: center;
    font-size: 20px;
  }

  .catalog__cover {
    width: 100%;
  }

  .catalog__description tr {
    width: 100%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom: 2px solid #cdcdcd;
  }
}

@media #{$desktop} {
  .catalog__item {
    width: 22%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
