.example {
  width: 100%;
  background-color: $lightblue;
  padding-top: 7%;
}

.example__block {
  padding-left: 5%;
  padding-right: 5%;
}

.example__title {
  font-size: 36px;
  line-height: 60px;

  @include zeroing;

  font-weight: 400;
}

.example__text {
  display: block;
  width: 82%;
  margin-bottom: 8%;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
}

.example__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__cover {
  display: flex;
  width: 46%;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  margin-bottom: 7%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example__number {
  margin-bottom: 4%;
  font-size: 24px;
  font-weight: 400;
}

.example__number-text {
  display: block;
  width: 100px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: -16px;
  font-family: $arial;
  font-size: 13px;
  text-align: center;
  background-color: $lightblue;

  &--long {
    width: 105px;
  }
}

.example__allotted {
  width: 100%;
  display: block;
  margin-bottom: 7%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media #{$tablet} {
  .example {
    background-color: $white;
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 6%;
  }

  .example__text {
    width: 98%;
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrap {
    flex-wrap: nowrap;
  }

  .example__cover {
    width: 55%;
    padding-top: 2%;
    margin-right: 3%;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__number-text {
    width: 110px;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: -7px;
    background-color: $white;

    &--long {
      width: 140px;
    }
  }

  .example__allotted {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 2%;
    text-align: end;
  }

  .example__allotted-number {
    display: block;
    padding-top: 2%;
  }
}

@media #{$desktop} {
  .example {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .example__block {
    background-image: linear-gradient($white 33%, $lightblue 33%);
  }

  .example__title {
    margin-bottom: 19%;
  }

  .example__text {
    width: 445px;
    margin-bottom: 15%;
  }

  .example__wrap {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .example__cover {
    width: 30%;
  }

  .example__number-text {
    background-color: $lightblue;
  }

  .example__allotted {
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7%;
  }

  .example__allotted-number {
    padding-top: 0;
  }
}
