.footer {
  width: 100%;
  background-color: $lightblue;
  padding-bottom: 3%;
}

.footer__wrap {
  padding-top: 11.5%;
  padding-left: 6%;
  padding-right: 6%;
}

.footer__logo {
  min-width: 131px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include link;
  padding-bottom: 11%;
  margin: 0 auto;
  border-bottom: 2px solid #cdcdcd;
}

.footer__logo-image {
  min-width: 131px;
  height: auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5%;
}


.footer__text {
  font-family: $arial;
  font-size: 16px;
  text-transform: capitalize;
  color: #444444;
}

.footer__text-uppercase {
  text-transform: uppercase;
}

.footer__link-html {
  @include link;

  width: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5px;

  svg {
    display: block;
    width: 40px;
    height: auto;
    fill: #666666;
  }

  &:hover {
    svg {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__link-html:active ~ .footer__text {
  opacity: 0.5;
}


@media #{$tablet} {
  .footer__wrap {
    display: flex;
    align-items: center;
    padding-top: 6.5%;
    padding-left: 3.8%;
    padding-right: 3.8%;
    padding-bottom: 2.7%;
  }

  .footer__logo {
    width: 33.3%;
    justify-content: flex-start;
    border: none;
    padding-bottom: 0;
  }

  .footer__copyright {
    width: 33.3%;
    justify-content: flex-start;
    padding-top: 0;
  }

  .footer__text {
    margin-right: 6%;
  }
}

@media #{$desktop} {
  .footer__wrap {
    padding-top: 3.2%;
    padding-left: 7.4%;
    padding-right: 7.4%;
    padding-bottom: 0;
  }

  .footer__text {
    margin-right: 4%;
  }
}
