.form {
  width: 100%;
}

.form__block {
  width: 100%;
  margin-bottom: 6%;
  padding-bottom: 3.4%;
  border-bottom: 1px solid #e6e6e6;

  &--advice {
    padding-bottom: 1.8%;
    margin-bottom: 9.3%;
  }

  &--contacts {
    border: none;
    margin-bottom: 1.3%;
  }

  &--comment {
    margin-bottom: 1%;
    border: none;
  }

  &--extra {
    margin-bottom: 3%;
    border: none;
  }

  &--envelope {
    padding-left: 6.3%;
    padding-right: 6.3%;
    margin-bottom: 2.3%;
    text-align: center;
    border: none;
  }
}

.form__label {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 6.4%;
  padding-right: 6.5%;
  margin-bottom: 4.3%;

  &--textarea {
    padding-right: 6.5%;
  }


  &--radio,
  &--chck {
    &:active {
      opacity: 0.3;
    }
  }
}

.form__input {
  width: 100%;
  padding: 13px 14px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e6e6e6;
  outline: none;
  box-sizing: content-box;

  &--textarea {
    min-height: 150px;
    padding-left: 4.5%;
    margin-left: 0;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:active {
    border: 2px solid #444444;
  }

  &:required:invalid:not(:placeholder-shown) {
    outline: none;
    border: 2px solid #ff8282;
  }
}

.form__input:focus + .form__input-image {
  fill: $green;
}

.form__input:invalid:not(:placeholder-shown) + .form__input-image {
  fill: #ff8282;
}

.form__text {
  display: block;
  margin-right: 5.1%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  white-space: nowrap;

  &--data {
    margin-right: 4.2%;
  }
}

.form__input-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  display: block;

  &--mail {
    right: 11%;
  }
}

.form__checkbox {
  display: none;
}

.form__fake {
  position: relative;
  display: block;
  min-width: 29px;
  min-height: 29px;
  margin-right: 6%;
  background-color: $white;
  border: 1px solid #cecece;

  &--radio {
    border-radius: 50%;
  }

  &:hover {
    border: 1px solid #bfbfbf;
  }
}

.form__checkbox:checked {
  & + .form__fake {
    &::before {
      border: 2px solid $green;
      content: "";
      display: table;
      position: absolute;
      left: 5px;
      top: 7px;
      width: 21px;
      height: 11px;
      border-top-style: none;
      border-right-style: none;
      transform: rotate(-48deg);
    }
  }

  & + .form__fake--radio {
    &::before {
      left: 7px;
      top: 7px;
      width: 12px;
      height: 12px;
      background: $green;
      border: 0;
      border-radius: 50%;
    }
  }
}

.form__title {
  @include zeroing;
  display: flex;
  align-items: center;
  margin-left: 6.5%;
  margin-bottom: 10.5%;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;

  &::after {
    display: block;
    width: 100%;
    margin-left: 6.7%;
    margin-top: 1%;
    content: "";
    height: 4px;
    background-color: $green;
  }

  &--contacts {
    align-items: baseline;
    white-space: pre-wrap;
  }

  &--extra {
    margin-bottom: 10.5%;
  }
}

.form__button {
  width: 100%;

  @include zeroing;
  padding-top: 2.8%;
  padding-bottom: 2.8%;
  margin-bottom: 7.5%;
  font-size: 16px;
}

.form__hint {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

@media #{$tablet} {
  .form__block {
    margin-bottom: 9.2%;
    padding-bottom: 0;
    border: none;

    &--advice {
      width: 81.7%;
      margin: 0 auto;
      padding-top: 3.1%;
      padding-bottom: 1%;
      margin-bottom: 10%;
      border: 1px solid #e6e6e6;
    }

    &--contacts {
      margin-bottom: 8.5%;
    }

    &--comment {
      margin-bottom: 8.3%;
    }

    &--extra {
      margin-bottom: 2.85%;
    }

    &--envelope {
      display: flex;
      align-items: baseline;
      padding-left: 9.3%;
      margin-bottom: 11%;
    }
  }

  .form__label {
    padding-left: 9.2%;
    padding-right: 8.8%;
    margin-bottom: 2.55%;
    font-size: 20px;
    line-height: 20px;

    &--radio {
      padding-left: 4.5%;
      padding-right: 4%;
      margin-bottom: 2.25%;
    }

    &--textarea {
      padding-left: 9.2%;
    }
  }

  .form__input {
    padding: 10.5px 18px;
    font-size: 20px;
    line-height: 20px;

    &--textarea {
      min-height: 174px;
      padding: 1.8% 2.7%;
    }
  }

  .form__text {
    margin-right: 2.6%;
    font-size: 20px;
    line-height: 20px;

    &--data {
      margin-right: 2.4%;
    }
  }

  .form__input-image {
    &--phone {
      margin-right: 1%;
    }
  }

  .form__fake {
    min-width: 40px;
    min-height: 40px;
    margin-right: 8.5%;

    &--radio {
      margin-right: 3.8%;
    }
  }

  .form__checkbox:checked {
    & + .form__fake {
      &::before {
        left: 25%;
        top: 29%;
        width: 21px;
        height: 11px;
      }
    }

    & + .form__fake--radio {
      &::before {
        left: 27%;
        top: 26%;
        width: 18px;
        height: 18px;
      }
    }
  }


  .form__title {
    margin-left: 0;
    margin-bottom: 10.1%;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: block;
      width: 6.5%;
      margin-right: 5.3%;
      margin-top: 1%;
      content: "";
      height: 4px;
      background-color: $green;
    }

    &::after {
      margin-left: 5.3%;
    }

    &--contacts {
      align-items: center;
      white-space: nowrap;

      &::before {
        width: 21%;
      }
    }

    &--extra {
      margin-bottom: 7.2%;
    }
  }

  .form__cover {
    &--check {
      display: flex;
      flex-wrap: wrap;

      .form__label {
        width: 44.5%;
        margin-bottom: 4.2%;
      }
    }
  }

  .form__button {
    width: 43.5%;
    padding-bottom: 1.7%;
    padding-top: 1.7%;
    margin-bottom: 0;
    font-size: 20px;
  }

  .form__hint {
    width: 46.5%;
    align-self: center;
    font-size: 16px;
    text-align: center;
  }
}

@media #{$desktop} {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__block {
    &--name {
      width: 48%;
      margin-bottom: 3.3%;
    }

    &--advice {
      width: 39.5%;

      @include zeroing;
      height: 195px;
      padding-top: 1.7%;
      margin-left: 5%;
      margin-bottom: 0;
    }

    &--contacts {
      margin-bottom: 4.7%;
    }

    &--comment {
      margin-bottom: 1.3%;
    }

    &--extra {
      margin-bottom: 4.2%;
    }

    &--envelope {
      padding-left: 7.7%;
      margin-bottom: 5.7%;
    }
  }

  .form__label {
    padding-left: 16%;
    padding-right: 1.5%;
    margin-bottom: 3%;

    &--radio {
      @include zeroing;
      margin-bottom: 2.2%;
      padding-left: 4.4%;
    }

    &--textarea {
      padding-left: 5.1%;
      padding-right: 7.5%;
    }
  }

  .form__input {
    padding: 1.6% 2.7%;
    margin-left: 2.8%;

    &--textarea {
      padding: 1% 1.7%;
    }
  }

  .form__text {
    margin-right: 0.3%;
  }

  .form__cover {
    display: flex;
    padding-left: 7.7%;
    padding-right: 7.5%;
    margin-bottom: 0;

    .form__label {
      @include zeroing;
      width: 46.7%;

      &--left {
        margin-right: 6.5%;
      }
    }

    &--check {
      padding-right: 2%;
      flex-wrap: nowrap;

      .form__label {
        width: 25%;
      }

      .form__fake {
        margin-right: 5.3%;
      }
    }
  }

  .form__input-image {
    right: 3.4%;

    &--phone {
      right: 2%;
    }
  }


  .form__title {
    margin-left: 0;
    margin-bottom: 5.5%;
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: 6.5%;
      margin-right: 2.6%;
    }

    &::after {
      margin-left: 2.9%;
    }

    &--contacts {
      margin-bottom: 5.3%;

      &::before {
        width: 9.2%;
        margin-right: 2.7%;
      }
    }

    &--extra {
      margin-bottom: 4%;
    }
  }

  .form__button {
    width: 45.8%;
    padding-bottom: 0.9%;
    padding-top: 0.9%;
    margin-right: 6.6%;
    margin-bottom: 0;
    font-size: 20px;
  }

  .form__hint {
    text-align: start;
  }
}
