.form {
  width: 100%;
}

.form__block {
  width: 100%;
  margin-bottom: 7%;
  border-bottom: 2px solid #e6e6e6;

  &--comment {
    border: none;
  }

  &--extra {
    border: none;
  }

  &--envelope {
    padding-left: 6.5%;
    padding-right: 6.5%;
    text-align: center;
    border: none;
  }
}

.form__label {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin-bottom: 7%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  white-space: nowrap;

  &--textarea {
    padding-right: 6.5%;
  }
}

.form__input {
  display: block;
  width: 100%;
  margin-left: 10%;
  padding: 4% 5%;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  &--textarea {
    min-height: 150px;
    margin-left: 0;
  }
}


.form__checkbox {
  display: none;
}

.form__fake {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 9%;
  background-color: $white;
  border: 2px solid #e5e5e5;

  &--radio {
    border-radius: 50%;
  }
}

.form__checkbox:checked {
  & + .form__fake {
    &::before {
      border: 2px solid $green;
      content: "";
      display: table;
      position: absolute;
      left: 24%;
      top: 25%;
      width: 21px;
      height: 11px;
      border-top-style: none;
      border-right-style: none;
      transform: rotate(-45deg);
    }
  }

  & + .form__fake--radio {
    &::before {
      left: 33%;
      top: 33%;
      width: 12px;
      height: 12px;
      background: $green;
      border: 0;
      border-radius: 50%;
    }
  }
}

.form__title {
  @include zeroing;
  display: flex;
  align-items: center;
  margin-left: 6.5%;
  margin-bottom: 7%;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;

  &--contacts {
    white-space: pre-wrap;
  }

  &::after {
    display: block;
    width: 100%;
    margin-left: 4%;
    margin-top: 1%;
    content: "";
    height: 5px;
    background-color: $green;
  }
}

.form__cover {
  margin-bottom: 10%;
}

.form__button {
  width: 100%;

  @include zeroing;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 8%;
}

.form__hint {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

@media #{$tablet} {
  .form__block {
    border: none;

    &--advice {
      width: 87%;
      margin: 0 auto;
      padding-top: 5%;
      margin-bottom: 7%;
      border: 2px solid #e6e6e6;
    }

    &--envelope {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .form__title {
    white-space: nowrap;
    margin-left: 0;

    &::before {
      display: block;
      width: 6.5%;
      margin-right: 4%;
      margin-top: 1%;
      content: "";
      height: 5px;
      background-color: $green;
    }
  }

  .form__cover {
    &--check {
      display: flex;
      flex-wrap: wrap;

      .form__label {
        width: 47%;
        margin-left: 2%;
      }
    }
  }

  .form__button {
    width: 47%;
    padding-bottom: 2.7%;
    padding-top: 2.7%;
  }

  .form__hint {
    width: 41%;
    text-align: left;
  }
}

@media #{$desktop} {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__block {
    width: 100%;

    &--name {
      width: 50%;
    }

    &--advice {
      width: 40%;
      margin-right: 5%;
    }
  }

  .form__cover {
    margin-bottom: 0;

    &--check {
      flex-wrap: nowrap;

      .form__label {
        width: 25%;

        @include zeroing;
        margin-left: 5%;
      }
    }
  }
}
