.link-button {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: 0;
  outline: 0;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #78bb96;
    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
