.link-button {
  display: block;
  font-family: $oswald;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: 0;
  outline: 0;

   &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #8fc46e;
  }

  &:disabled {
    background-color: #5eaa2f;
    color: #8fc46e;
  }


}
