.more-produkts {
  width: 100%;
  padding-top: 9.7%;
  margin-bottom: 11.5%;
  background-color: $white;
}

.more-produkts__title {
  @include zeroing;
  margin-left: 6%;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;

  &::after {
    display: block;
    width: 100%;
    margin-left: 7%;
    margin-top: 1%;
    content: "";
    height: 5px;
    background-color: $green;
  }
}

.more-produkts__list {
  @include list;
  margin-bottom: 11.5%;
  border-bottom: 2px solid #e6e6e6;
}

.more-produkts__item {
  margin-left: 5.5%;
  margin-right: 5.5%;
  padding-top: 4.2%;
  border-top: 2px solid #e6e6e6;
}

.more-produkts__headline {
  @include zeroing;
  margin-bottom: 4%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.more-produkts__link {
  @include link;
  color: #222222;
}

.more-produkts__table {
  width: 100%;
  margin-bottom: 4%;
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.more-produkts__link-button {
  @include link;

  width: 99%;
  margin: 0 auto;
  padding: 3.35%;
  margin-bottom: 6%;
  font-size: 16px;
  line-height: 20px;
}

.more-produkts__present {
  display: flex;
  //align-items: center;
  min-width: 280px;
  min-height: 290px;
  margin-left: 6%;
  margin-right: 6.5%;
  padding-top: 8%;
  background-image: url("../img/bg/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg/gift-photo-mobile@1x.jpg");
  }
}

.more-produkts__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;

  &::before {
    display: block;
    content: "";
    min-width: 60px;
    min-height: 60px;
    margin-bottom: 60px;
    background-image: url("../img/icons/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media #{$tablet} {
  .more-produkts {
    padding-top: 4.5%;
  }

  .more-produkts__title {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: block;
      width: 8.5%;
      margin-right: 5%;
      margin-top: 1%;
      content: "";
      height: 5px;
      background-color: $green;
    }

    &::after {
      margin-left: 5%;
    }
  }

  .more-produkts__list {
    border: 1px solid #e6e6e6;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 9.2%;
  }

  .more-produkts__item {
    @include zeroing;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 4.7%;
    display: flex;
    flex-wrap: wrap;

    &:first-child {
      border: none;
    }
  }

  .more-produkts__headline {
    margin-right: auto;
    margin-bottom: 3.8%;
    font-size: 20px;
    line-height: 20px;
  }

  .more-produkts__table {
    width: 50%;
    margin-bottom: 3.5%;
    font-size: 16px;
    line-height: 16px;

    tr {
      justify-content: flex-end;
    }

    td {
      margin-left: 15%;
    }
  }

  .more-produkts__link-button {
    width: 100%;
    padding-top: 1.65%;
    padding-bottom: 1.65%;
    margin-bottom: 3.8%;
  }

  .more-produkts__present {
    height: 200px;
    padding-top: 0;
    padding-left: 11.5%;
    padding-right: 16.3%;
    margin-left: 4.1%;
    margin-right: 3.8%;
    background-image: url("../img/bg/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/gift-photo-tablet@1x.jpg");
    }
  }

  .more-produkts__text {
    flex-direction: row;
    align-items: center;
    text-align: left;

    &::before {
      margin-right: auto;
      margin-bottom: 1%;
    }
  }
}

@media #{$desktop} {
  .more-produkts {
    padding-top: 1%;
    margin-bottom: 6%;
  }

  .more-produkts__title {
    margin-bottom: 5.5%;

    &::before {
      width: 7.5%;
      margin-right: 2.5%;
      margin-top: 1%;
    }

    &::after {
      margin-left: 2.5%;
    }
  }

  .more-produkts__wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 7.7%;
    padding-right: 7.45%;
  }

  .more-produkts__list {
    width: 73.4%;
    border: none;
    border-bottom: 2px solid #e6e6e6;

    @include zeroing;
  }

  .more-produkts__item {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    @include zeroing;
    padding-top: 1.65%;
    margin-bottom: 1.735%;

    &:first-child {
      border-top: 2px solid #e6e6e6;
    }
  }

  .more-produkts__headline {
    width: 32.2%;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .more-produkts__table {
    width: 33%;
    margin-right: 0;
    margin-bottom: 0;

    tr {
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5%;
    }

    td {
      margin-left: 0;
    }
  }

  .more-produkts__link-button {
    width: 27.35%;
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .more-produkts__present {
    width: 20.1%;
    min-width: 240px;
    min-height: 290px;

    @include zeroing;
    padding-top: 2%;
    background-image: url("../img/bg/gift-photo-desktop@1x.jpg");
    background-position: left center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/gift-photo-desktop@1x.jpg");
    }
  }

  .more-produkts__text {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &::before {
      margin-bottom: 63px;
    }
  }
}
