.more-produkts {
  width: 100%;
  padding-top: 7%;
  background-color: $white;
}

.more-produkts__title {
  @include zeroing;
  margin-left: 6.5%;
  margin-bottom: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;

  &::after {
    display: block;
    width: 100%;
    margin-left: 7%;
    margin-top: 1%;
    content: "";
    height: 5px;
    background-color: $green;
  }
}

.more-produkts__list {
  @include list;
  margin-bottom: 11%;
  border-bottom: 2px solid #e6e6e6;
}

.more-produkts__item {
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 6%;
  border-top: 2px solid #e6e6e6;
}

.more-produkts__headline {
  @include zeroing;
  margin-bottom: 5%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.more-produkts__link {
  @include link;
  color: #222222;
}

.more-produkts__table {
  width: 100%;
  margin-bottom: 5%;
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  tr {
    display: flex;
    align-items: center;
  }
}

.more-produkts__link-button {
  @include link;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 8%;
}

.more-produkts__present {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280;
  min-height: 290px;
  margin-left: 6.5%;
  margin-right: 6.5%;
  background-image: url("../img/bg/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.more-produkts__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;

  &::before {
    display: block;
    content: "";
    min-width: 60px;
    min-height: 60px;
    margin-bottom: 50px;
    background-image: url("../img/icons/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media #{$tablet} {
  .more-produkts__title {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: block;
      width: 6.5%;
      margin-right: 4%;
      margin-top: 1%;
      content: "";
      height: 5px;
      background-color: $green;
    }

    &::after {
      margin-left: 4%;
    }
  }

  .more-produkts__list {
    border: 2px solid #e6e6e6;
    margin-left: 6.5%;
    margin-right: 6.5%;
  }

  .more-produkts__item {
    display: flex;
    flex-wrap: wrap;

    &:first-child {
      border: none;
    }
  }

  .more-produkts__headline {
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
  }

  .more-produkts__table {
    width: 50%;
    font-size: 16px;
    line-height: 16px;

    tr {
      justify-content: flex-end;
    }

    td {
      margin-left: 15%;
    }
  }

  .more-produkts__link-button {
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .more-produkts__text {
    flex-direction: row;
    justify-content: space-around;
    text-align: start;

    &::before {
      margin-bottom: 0;
    }
  }
}

@media #{$desktop} {
  .more-produkts__wrap {
    display: flex;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .more-produkts__list {
    width: 66%;
    border: none;
    border-bottom: 2px solid #e6e6e6;

    @include zeroing;
    margin-right: auto;
  }

  .more-produkts__item {
    width: 100%;
    flex-wrap: nowrap;
    align-items: baseline;

    @include zeroing;

    padding-top: 4%;
    margin-bottom: 2%;

    &:first-child {
      border-top: 2px solid #e6e6e6;
    }
  }

  .more-produkts__headline {
    white-space: nowrap;
  }

  .more-produkts__table {
    width: 30%;
    margin-right: 3%;

    tr {
      justify-content: space-between;
    }

    td {
      margin-left: 0;
    }
  }

  .more-produkts__link-button {
    width: 33%;
    margin-bottom: 0;
  }

  .more-produkts__present {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }

  .more-produkts__text {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &::before {
      margin-bottom: 75px;
    }
  }
}
