.products {
  padding-left: 6%;
  padding-right: 6%;
}

.products__losing-weight,
.products__mass-gathering {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10.5%;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 7%;
  background-color: $lightblue;
}

.products__mass-gathering {
  margin-bottom: 6.5%;
}

.products__title {
  position: relative;
  display: block;
  width: 100%;

  @include zeroing;
  padding-left: 70px;
  margin-bottom: 6.5%;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    position: absolute;
    left: 0;
    top: -7px;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    left: 6px;
    top: -13px;
    display: block;
    content: "";
    width: 40px;
    height: 53px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/icons/icon-cat-slim.svg");
  }

  &--mass {
    &::after {
      left: -8px;
      top: 0;
      width: 69px;
      height: 35px;
      background-image: url("../img/icons/icon-cat-pro.svg");
    }
  }
}

.products__text {
  display: block;
  padding-bottom: 9.8%;
  margin-bottom: 8%;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 2px solid #d9d9d9;
}

.products__link {
  min-width: 130px;
  display: flex;
  align-items: center;

  @include link;
  margin-bottom: 9.5%;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $black;

  &::after {
    display: block;
    content: "";
    width: 25px;
    height: 11px;
    margin-left: 15px;
    background-image: url("../img/icons/icon-right-arrow-long.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      width: 32px;
      background-image: url("../img/icons/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.5;
  }
}

@media #{$tablet} {
  .products {
    padding-left: 4%;
    padding-right: 4%;
  }

  .products__losing-weight,
  .products__mass-gathering {
    padding-top: 10.6%;
    padding-left: 7.5%;
    margin-bottom: 4.4%;
  }

  .products__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 37px;
    margin-bottom: 1.5%;

    &::before {
      left: auto;
      right: 2px;
      top: 15px;
      width: 200px;
      height: 200px;
      margin-right: 0;
    }

    &::after {
      left: auto;
      right: 33px;
      top: 1px;
      width: 142px;
      height: 199px;
      margin-right: 0;
    }

    &--mass {
      &::after {
        left: auto;
        right: -31px;
        top: 60px;
        width: 270px;
        height: 112px;
      }
    }
  }

  .products__text {
    padding-right: 36%;
    margin-bottom: 9.3%;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    border: none;

    &--last {
      padding-right: 42.5%;
    }
  }

  .products__link {
    width: 155px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10.5%;
  }

  .products__mass-gathering {
    .products__link {
      width: 150px;
    }
  }
}

@media #{$desktop} {
  .products {
    display: flex;
    justify-content: space-between;
    padding-left: 7.6%;
    padding-right: 7.6%;
  }

  .products__losing-weight,
  .products__mass-gathering {
    width: 46.7%;
    padding-top: 6.3%;
    padding-right: 2%;
    padding-left: 4.3%;
  }

  .products__title {
    padding-left: 161px;
    margin-bottom: 11.7%;

    &::before {
      left: 0;
      right: auto;
      top: -30px;
      width: 100px;
      height: 100px;
    }

    &::after {
      left: 13px;
      right: auto;
      top: -37px;
      width: 70px;
      height: 97px;
    }

    &--mass {
      &::after {
        left: -17px;
        right: auto;
        top: -9px;
        width: 134px;
        height: 56px;
      }
    }
  }

  .products__text {
    padding-right: 0;
    margin-bottom: 6.2%;
  }

  .products__link {
    margin-bottom: 13%;
  }
}
