.program {
  width: 100%;
  padding-top: 5%;
  background-color: $white;
}

.program__title {
  display: block;

  @include zeroing;
  margin-left: 6.4%;
  margin-bottom: 7.5%;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
}

.program__text {
  width: 74%;
  display: block;
  margin-left: 6.4%;
  margin-bottom: 12.5%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
}

@media #{$tablet} {
  .program {
    padding-top: 3.5%;
  }

  .program__title {
    font-size: 60px;
    margin-bottom: 7.2%;
    margin-left: 3.7%;
  }

  .program__text {
    width: 330px;
    margin-left: 9.2%;
    margin-bottom: 8.6%;
    font-size: 20px;
    line-height: 30px;
  }
}

@media #{$desktop} {
  .program {
    padding-top: 1.3%;
  }

  .program__title {
    margin-left: 7.7%;
    margin-bottom: 3.9%;
  }

  .program__text {
    margin-left: 7.6%;
    margin-bottom: 4.6%;
  }
}
