.promo {
  position: relative;
  background-color: $white;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    min-height: 315px;
    background-image: url("../img/bg/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}

.promo__wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  text-align: center;
  z-index: 1;
}

.promo__title {
  position: relative;
  display: block;
  width: 77%;
  margin: 0 auto;
  margin-bottom: 7%;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
}

.promo__tagline {
  margin-bottom: 7%;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
}

.promo__link {
  width: 90%;

  @include link;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 7%;
  font-size: 14px;
  line-height: 18px;
}
