.promo {
  position: relative;
  background-color: $white;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    min-height: 305px;
    background-image: url("../img/bg/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $green;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/index-background-mobile@2x.jpg");
    }
  }
}

.promo__wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.3%;
  text-align: center;
  z-index: 1;
}

.promo__title {
  display: block;
  width: 86%;

  @include zeroing;
  margin-bottom: 3.5%;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
}

.promo__tagline {
  margin-bottom: 8.5%;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
}

.promo__cover {
  min-width: 280px;
  min-height: 270;
}

.promo__link {
  width: 87%;

  @include link;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  margin-bottom: 7%;
  font-size: 14px;
  line-height: 18px;
}

@media #{$tablet} {
  .promo {
    padding-left: 15.2%;

    &::before {
      display: none;
    }
  }

  .promo__wrap {
    align-items: flex-start;
    text-align: start;
    padding-top: 3.8%;
  }

  .promo__title {
    width: 445px;
    margin-bottom: 3.3%;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $black;
  }

  .promo__tagline {
    margin-bottom: 7.4%;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  .promo__cover {
    position: relative;
    min-width: 709px;
    min-height: 609px;
    order: 1;
    align-self: center;
    margin-top: -17%;
    margin-right: 18.5%;
    z-index: -1;
  }

  .promo__link {
    width: 247px;
    padding: 2.5%;
    margin-bottom: 4.2%;
    font-size: 20px;
    line-height: 20px;
  }
}

@media #{$desktop} {
  .promo {
    padding-left: 13.1%;
    margin-bottom: 1.8%;

    &::before {
      display: block;
      width: 50%;
      min-height: 695px;
      right: 0;
      background-image: url("../img/bg/index-background-desktop@1x.jpg");
      background-position: center center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__wrap {
    padding-top: 17.8%;
  }

  .promo__title {
    margin-bottom: 1.5%;
  }

  .promo__tagline {
    margin-bottom: 4.3%;
  }

  .promo__cover {
    align-self: flex-end;
    margin-top: -33.5%;
    margin-right: 13.6%;
  }

  .promo__link {
    padding: 1.3%;
    margin-bottom: 4.2%;
  }
}
