.site-list {
  width: 100%;

  @include list;
}

.site-list__item {
  padding-top: 6%;
  margin-bottom: 6%;
  text-align: center;
  border-top: 2px solid #e6e6e6;
}

.site-list__link {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: $black;

  @include link;
}

@media #{$tablet} {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .site-list__item {
    @include zeroing;
    margin-left: 4%;
    border: none;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
  }
}

@media #{$desktop} {
  .site-list {
    &--color {
      .site-list__link {
        color: $white;
      }
    }
  }

  .site-list__link {
    font-size: 20px;
  }
}
