.social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7.5%;
  padding-top: 7.5%;
  border-bottom: 2px solid  #cdcdcd;
}

.social__list {
  @include list;

  width: 44%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 3%;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list;

  svg {
    display: block;
    fill: #666666;
  }

  &:hover {
    svg {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media #{$tablet} {
  .social {
    width: 40%;
    @include zeroing;

    border: none;
  }

  .social__list {
    margin-right: -6%;
  }


  .social__link {
    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--insta svg {
      width: 23px;
      height: 23px;
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}

@media #{$desktop} {
  .social {
    width: 23.5%;
  }
}
