$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1300px)";

$green: #68b738;
$white: #ffffff;
$lightblue: #f2f2f2;
$black: #111111;
$braun: #444444;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
